header {
    text-align: center;
    padding: 10px;
}

button {
    border-radius: 25%;
    padding: 10px;
    background-color: #ff754e;
}

header.orange {
    background-color: coral;
}

.title img {
    border-radius: 50%;
    height: 150px;
    margin-left: 10px;
    margin-top: 0px;
}

.nav2 {
    background-color: #5fd3ec;
}

.nav3 {
    background-color: #ffcd6a;
}

.header img {
    display: inline-block;
    border-radius: 50%;
    max-width: 60px;
    height: auto;
}

.title {
    font-family: "Chelsea Market", cursive;
    font-size: 5em;
    padding: 10px;
}

.title {
    text-align: left;
    padding: 40px;
}

h1 {
    display: inline-block;
    font-size: 1.8;
    font-weight: lighter;
    text-align: justify;
    vertical-align: middle;
    padding-left: 50px;
    letter-spacing: 2px;
}

#open {
    display: inline-block;
    border-style: dotted;
    border-width: 3px;
    border-color: white;
    text-align: center;
    font-size: 2em;
    font-style: oblique;
    color: teal;
    margin-left: 10%;
    margin-right: 10%;
}

.valley {
    border-style: dotted;
    border-width: 5px;
    border-color: rpg(0, 0, 0);
    text-align: center;
    font-size: 12px;
    padding-left: 20;
    padding-right: 29px;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.title-sub {
    text-align: center;
    font-size: 12px;
    padding: 2px;
}

.pic-info img {
    width: 15%;
    padding-bottom: 1em;
}

.footer img {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 80%;
    height: 20%;
    vertical-align: middle;
}

.footer-nav {
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 80%;
    height: auto;
    background-color: #ddb9a3;
}